nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid;
    background-color: #464040;
}

.navTitle {
    width: 50%;
    font-size: 25px;
    font-family: monospace;
    padding: 2px 5px;
    margin: 10px 5px;
    color: aliceblue;
}

.navLinks {
    width: 35%;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    padding: 2px 4px;
    font-size: 20px;
    color: aliceblue;
}

.errorDisplayer {
    padding: 10px 15px;
}

li {
    font-size: 17px;
    color: red;
}

footer {
	padding: 5px;
	margin-top: 20px;
	background-color: #544d4d;
	color: wheat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
	color: floralwhite;
	text-decoration: none;
	font-family: "Cinzel Decorative", sans-serif;
	font-weight: bold;
	display: flex;
    align-items: center;
	justify-content: center;
	gap: 20px;
}

footer p {
    padding: 5px 7px;
    margin: 5px 3px;
}

footer img {
	width: 30px;
}